/* Optional: Change background color for the entire app container */
.container-home {
  background-color: #e6f7ff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for a card-like effect */
  border-radius: 10px;
  padding: 20px;
}


.container-home {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 90vh; 
  width: 100vh;
  text-align: center;
}

h1.text-primary {
  font-size: 5rem;
  color: #007bff;
  margin-bottom: 20px;
}

p.text-muted {
  font-size: 1.7rem;
  color: #333;
}


.rules-container {
  padding: 20px;
  margin: 20px;
  margin-top: 50px;
  background-color: #e6f7ff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}


.rules-title {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


.rules-text {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.rules-section h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: left; 
}


.rules-section {
  margin-bottom: 25px;
}


.rules-section h2 {
  font-size: 1.8rem;
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.rules-section p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}


.rules-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rules-section li {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}


strong {
  color: #2980b9;
  font-weight: bold;
}


@media (max-width: 768px) {
  .rules-container {
    padding: 15px;
  }

  .rules-title {
    font-size: 2rem;
  }

  .rules-section h2 {
    font-size: 1.5rem;
  }

  .rules-section p,
  .rules-section li {
    font-size: 1rem;
  }
}


ul {
  list-style-type: disc; 
  padding-left: 0; 
  margin-left: 0; 
}

ul li {
  font-size: 1.1rem;
  color: #34495e;
  margin-bottom: 10px;
  text-align: left; /* Ensure text is left-aligned */
}

ul li strong {
  font-weight: bold;
}


.container {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #e6f7ff;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

p {
  font-size: 1.2rem;
  color: #7f8c8d;
}

.highscore-table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
}

.highscore-table th,
.highscore-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.highscore-table th {
  background-color: #3498db;
  color: white;
}

.highscore-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.highscore-table tr:hover {
  background-color: #f1f1f1;
}



.navbar-custom {
  background-color: #007bff; 
  padding: 15px 20px;
}

.navbar-brand {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: black;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  font-size: 1.2rem;
  margin-left: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}


.nav-link.active {
  color: #fff;
  background-color: #0056b3;
  border-radius: 8px;
}


.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  filter: invert(1); 
}


@media (max-width: 768px) {
  .navbar-nav .nav-item {
    margin-left: 0;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}



.game-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 90vh; /* Take up 100% of the viewport height */
  width: 90vh;
  text-align: center; /* Optional, for centering the text inside */
  background-color: #e6f7ff;
  flex-direction: column;
}
.game-container h1 {
  font-size: 5rem;
}
.game-container p {
  font-size: 1.7rem;
}


.game-btn {
  margin: 20px; 
  padding: 80px 80px; 
  font-size: 3 rem; 
}

.button-container {
  display: flex; /* Make buttons side-by-side */
  justify-content: center; 
  gap: 5px; 
}

