.cell {
  width: 25px;
  height: 25px;
}

.board {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(10, 1fr); /* 10 columns of equal width */
  grid-template-rows: repeat(10, 1fr); /* 10 rows of equal height */
  gap: 5px;
}
